 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        width: 100%;
        height: 665px;
         
      }

   h5{
      font-size: 2rem;
   }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: black
      }
  

      tr:hover {background-color: whitesmoke;
                color: red;
     }
     
     li:hover{background-color: white;
            color: red;}

     .lisoldier{
        background-color: brown;
     }
     
     .mainpageh2{
         text-align: center;
       
        }
    
      #listofchurch{
         background-color: #deb887;
         height : 800px;
         color: black;
         padding-top: 2rem;
         padding-left: 1rem;
         padding-right: 1rem;
         padding-bottom: 2rem;
         overflow-x: auto; 
         overflow-y: scroll;
      }
     #cathedraledescription{
        background-color: #deb887;
        height: 800px;
        color: black;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        overflow: scroll;
     }
     #cathedralelist{
        background-color: #deb887;
        color: black;
        height: 800px;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        overflow: scroll;
     }
    
 
     #mapstyle {
        background-color: #deb887;
        align-content: center;
        height : 800px;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        
     }
   

     #vm_header{
         background-image: url('mypicture.jpg');
         background-color: brown;
         color: white;
        
     }

     h1{
         text-align:center ;
         font-size: 3rem;
         color: white;
         
     }
     .w3-container{
         height: rem;
         padding-top: 2rem;
         color: white;
         text-align: center;
         
         
     }
     .pyellow{
         color: white;
         text-align: center;
         padding-bottom: 3rem;
     }
     #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }
      .btmnav{
       background-color:brown;
       padding-top: 2rem;
       text-align:center;
       color: yellow;
      }
     .navbarcolor{
        color: white;
     }
